.footer {
    background-image: url('../assets/images/Vector\ 4.png');
    background-size: cover;
    min-height: 500px;
    padding-top: 250px;
}

.footer a {
    color: var(--dark-grey);
    font-weight: 600;
  
}

.footer a:hover {
      text-decoration: underline;
}

@media screen and (min-width: 441px) and (max-width: 1436px) {
    .footer {
        background-image: url('../assets/images/Vector\ 3.png');
    }
}

@media screen and (min-width: 1437px) {
    .footer {
        background: var(--lime-green);
    }
}