.footer {
    background-image: url('../assets/images/Vector\ 4.png');
    min-height: 500px;
    padding-top: 250px;
}

.footer a {
    color: var(--dark-grey);
    font-weight: 500;
}

@media screen and (min-width: 441px) {
    .footer {
        background-image: url('../assets/images/Vector\ 3.png');
    }
}