.footer {
    background-image: url('../assets/images/Vector\ 4.png');
    background-size: cover;
    min-height: 500px;
    padding-top: 250px;
    position: relative;
}

.footer a {
    color: var(--dark-grey);
    font-weight: 600;
    text-decoration: underline;
}

@media screen and (min-width: 441px)  {
    .footer {
        background-image: url('../assets/images/Vector\ 3.png');
        background-size: cover;

    }
}

@media screen and (min-width: 1601px) {
    .footer {
            background-size: cover;
            background-position-y: top;
            min-height: 800px;
            padding-top: 400px;
    }

}